<div>

    <ul>
        <li><a ng-href="#/user/{{report.user.login}}">Home</a></li>
        <li><a ng-href="#/login">Log out</a></li>
    </ul>

    <p>Report: {{report.instance.id}}</p>
    <p>Project: <a ng-href="#/project/{{report.project.name}}">{{report.project.name}}</a></p>
    <p>Creator: <a ng-href="#/user/{{report.instance.creator.login}}">{{report.instance.creator.login}}</a></p>
    <p>Status: {{report.instance.status}}</p>
    <p>Creation date: {{report.instance.creationTime| date: 'dd-MM-yyyy'}}</p>
    <p>Developer: <a ng-href="#/user/{{report.instance.developer.login}}">{{report.instance.developer.name}}</a></p>

    <div ng-show="report.permissions.reportCreator">
        <button ng-click="report.changeStatus('OPENED')">Set opened</button>
    </div>
    <div ng-show="report.permissions.reportDeveloper">
        <button ng-click="report.changeStatus('ACCEPTED')">Set accepted</button>
        <button ng-click="report.changeStatus('FIXED')">Set fixed</button>
    </div>
    <div ng-show="report.permissions.reportManager">
        <button ng-click="report.changeStatus('CLOSED')">Set closed</button>
    </div>

    <div ng-show="report.permissions.reportCommenter">
        <textarea rows="5" cols="50" ng-model="reportComment"></textarea>
        <button ng-click="report.commentReport()">comment</button>
    </div>

    <h2>Comments:</h2>
    <div ng-repeat="it in (report.comments | orderBy: 'date': true)" style="background: #EEE; border: solid; margin: 10px; width: 300px;">
        <p>{{it.date| date: 'dd-MM-yyyy hh:mm:ss'}}</p>
        <p><a ng-href="#/user/{{it.user.login}}">{{it.user.name}}</a>: {{it.description}}</p>
    </div>
</div>